In [1]:
import numpy as np

In [2]:
def deal():
    # Initialize player hands
    p1 = []
    p2 = []
    
    # Initialize and shuffle deck
    deck = list(range(1, 14)) * 4
    np.random.shuffle(deck)
    
    # Deal cards to each player
    for i in range(len(deck)):
        if i % 2:
            p2.append(deck.pop(0))
        else:
            p1.append(deck.pop(0))
            
    return p1, p2

In [3]:
#Play multiple games within the function, using a new argument games (equals 1 by default)
def play(games=1):
     # Collect statistics
    S = {}
    for t in range(games):
        #print('Game '+str(t+1)+' : ')
    # Deal cards to players, initialize claim lists
        p1, p2 = deal()
        p1_initial=sum(p1)
        p2_initial=sum(p2)
        p1_claim, p2_claim = [], []
        #Track the number of tie
        tieCount=0
        #Track the largest total won during a round 
        maximumTotal=0
    
    # Calculate initial statistics
    
    # Play!
        k = 1 # round counter
        i = 13 # maximum number of rounds
        while i > 0:
        # Print round
        
        # Each player plays two cards
            p1_play = [p1.pop(0), p1.pop(0)]
            p2_play = [p2.pop(0), p2.pop(0)]
            i -= 1
        
        # Check for tie, and process accordingly
            if sum(p1_play) > sum(p2_play):
                # Player 1 wins hand, append cards to claim list
                p1_claim.extend(p1_play); p1_claim.extend(p2_play)
                maximumTotal=max(maximumTotal,sum(p1_play))
                #print('\tPlayer 1 wins hand (%d over %d), collects' % (sum(p1_play), sum(p2_play)), sum(p1_play) + sum(p2_play))
            elif sum(p2_play) > sum(p1_play):
                # Player 2 wins hand, append cards
                p2_claim.extend(p1_play); p2_claim.extend(p2_play)
                maximumTotal=max(maximumTotal,sum(p2_play))
                #print('\tPlayer 2 wins hand (%d over %d), collects' % (sum(p2_play), sum(p1_play)), sum(p1_play) + sum(p2_play))
            else:
                tieCount+=1
                # Tie - Continue to play two cards until a player wins
                #print('\tTie:', sum(p1_play), 'vs.', sum(p2_play))
                if i > 0:
                    while sum(p1_play[-2:]) == sum(p2_play[-2:]):
                        p1_play.extend([p1.pop(0), p1.pop(0)])
                        p2_play.extend([p2.pop(0), p2.pop(0)])
                        i -= 1
                        if sum(p1_play[-2:]) > sum(p2_play[-2:]):
                            # Player 1 wins hand, append cards to claim list
                            p1_claim.extend(p1_play); p1_claim.extend(p2_play)
                            maximumTotal=max(maximumTotal,sum(p1_play))
                            #print('\tPlayer 1 wins hand (%d over %d), collects' % (sum(p1_play[-2:]), sum(p2_play[-2:])), sum(p1_play) + sum(p2_play))
                        elif sum(p2_play[-2:]) > sum(p1_play[-2:]):
                            # Player 2 wins hand, append cards to claim list
                            p2_claim.extend(p1_play); p2_claim.extend(p2_play)
                            maximumTotal=max(maximumTotal,sum(p2_play))
                            #print('\tPlayer 2 wins hand (%d over %d), collects' % (sum(p2_play[-2:]), sum(p1_play[-2:])), sum(p1_play) + sum(p2_play))
                        else:
                            tieCount+=1
                            maximumTotal=max(maximumTotal,sum(p1_play))
                            #print('\t\tAnother Tie:', sum(p1_play[-2:]), 'vs.', sum(p2_play[-2:]))

                        # Check for whether game ends in a tie - return cards to respective players
                            if i <= 0:
                                p1_claim.extend(p1_play)
                                p2_claim.extend(p2_play)
                                break
                else:
                    # Game ends in a tie - return cards to respective players
                    p1_claim.extend(p1_play)
                    p2_claim.extend(p2_play)
                    
            # Increment round
            k += 1
    
        # Game over, compile results
        S['Game ' + str(t+1)] = [p1_initial,p2_initial,tieCount,maximumTotal,sum(p1_claim),sum(p2_claim)]
        # Return results
    return S

In [4]:
#Demonstrate the function for 1 game
print('Each game: Player 1 initial total, Player 2 initial total, Number of ties during gameplay, Maximum round total won, Player 1 final total, Player 2 final total are below by order:' )    
play(1)

Each game: Player 1 initial total, Player 2 initial total, Number of ties during gameplay, Maximum round total won, Player 1 final total, Player 2 final total are below by order:

{'Game 1': [192, 172, 1, 37, 143, 221]}

In [5]:
#Demonstrate the function for 5 games
print('Each game: Player 1 initial total, Player 2 initial total, Number of ties during gameplay, Maximum round total won, Player 1 final total, Player 2 final total are below by order:' )    
play(5)

Each game: Player 1 initial total, Player 2 initial total, Number of ties during gameplay, Maximum round total won, Player 1 final total, Player 2 final total are below by order:

{'Game 1': [166, 198, 0, 22, 179, 185],
 'Game 2': [177, 187, 1, 36, 205, 159],
 'Game 3': [181, 183, 1, 30, 190, 174],
 'Game 4': [184, 180, 1, 29, 179, 185],
 'Game 5': [196, 168, 0, 24, 234, 130]}

In [6]:
import pandas as pd

In [7]:
#Simulate 1000 games and store it in a pandas DataFrame
ThousandGames=pd.DataFrame(play(1000)).T 
ThousandGames.columns=['Player 1 Initial','Player 2 Initial','# of tie','Maximum total in the round','Player 1 Final','Player 2 Final']

In [8]:
#Preview the first 10 rows
ThousandGames.head(10)

,Player 1 Initial,Player 2 Initial,# of tie,Maximum total in the round,Player 1 Final,Player 2 Final
Game 1,198,166,2,28,239,125
Game 2,186,178,2,34,198,166
Game 3,199,165,0,22,228,136
Game 4,183,181,0,25,210,154
Game 5,165,199,1,25,177,187
Game 6,186,178,2,30,223,141
Game 7,179,185,1,33,221,143
Game 8,168,196,0,26,137,227
Game 9,197,167,0,26,239,125
Game 10,178,186,1,28,132,232

In [9]:
#Preview the last 10 rows
ThousandGames.tail(10)

,Player 1 Initial,Player 2 Initial,# of tie,Maximum total in the round,Player 1 Final,Player 2 Final
Game 991,181,183,1,29,195,169
Game 992,177,187,1,32,178,186
Game 993,179,185,1,29,208,156
Game 994,160,204,1,27,123,241
Game 995,171,193,1,25,207,157
Game 996,203,161,0,26,242,122
Game 997,186,178,2,26,213,151
Game 998,184,180,4,45,146,218
Game 999,173,191,0,25,191,173
Game 1000,193,171,0,25,202,162

Exercise 3

In [10]:
# Add a new column DataFrame ('outcome') that contains the value 'Player 1 wins' if Player 1's final total is higher, 'Player 2 wins' if Player 2's final total is higher, or 'Tie game' if the two player's final totals are equal.
ThousandGames.loc[ThousandGames['Player 1 Final']<ThousandGames['Player 2 Final'],'Outcome']='Player 2 wins'
ThousandGames.loc[ThousandGames['Player 1 Final']>ThousandGames['Player 2 Final'],'Outcome']='Player 1 wins'
ThousandGames.loc[ThousandGames['Player 1 Final']==ThousandGames['Player 2 Final'],'Outcome']='Tie game'

In [11]:
# Add new columns for the winning total ('winning_total') and losing total ('losing_total'), which contain the final totals for the winning and losing players, respectively, and missing values (NumPy.nan) for tie games.
#If do not assign a value for tie games, python will automatically shows missing Nan, so I only assign the cases with a value.
ThousandGames.loc[ThousandGames['Player 1 Final']<ThousandGames['Player 2 Final'],'Winning_total']=ThousandGames['Player 2 Final']
ThousandGames.loc[ThousandGames['Player 1 Final']<ThousandGames['Player 2 Final'],'Losing_total']=ThousandGames['Player 1 Final']
ThousandGames.loc[ThousandGames['Player 1 Final']>ThousandGames['Player 2 Final'],'Winning_total']=ThousandGames['Player 1 Final']
ThousandGames.loc[ThousandGames['Player 1 Final']>ThousandGames['Player 2 Final'],'Losing_total']=ThousandGames['Player 2 Final']

In [12]:
#Preview the first 10 rows 
ThousandGames.head(10)

,Player 1 Initial,Player 2 Initial,# of tie,Maximum total in the round,Player 1 Final,Player 2 Final,Outcome,Winning_total,Losing_total
Game 1,198,166,2,28,239,125,Player 1 wins,239.0,125.0
Game 2,186,178,2,34,198,166,Player 1 wins,198.0,166.0
Game 3,199,165,0,22,228,136,Player 1 wins,228.0,136.0
Game 4,183,181,0,25,210,154,Player 1 wins,210.0,154.0
Game 5,165,199,1,25,177,187,Player 2 wins,187.0,177.0
Game 6,186,178,2,30,223,141,Player 1 wins,223.0,141.0
Game 7,179,185,1,33,221,143,Player 1 wins,221.0,143.0
Game 8,168,196,0,26,137,227,Player 2 wins,227.0,137.0
Game 9,197,167,0,26,239,125,Player 1 wins,239.0,125.0
Game 10,178,186,1,28,132,232,Player 2 wins,232.0,132.0

In [13]:
#Display the rows in your DataFrame that contain the 'Tie game' outcomes.
ThousandGames[ThousandGames['Outcome'] == 'Tie game']

,Player 1 Initial,Player 2 Initial,# of tie,Maximum total in the round,Player 1 Final,Player 2 Final,Outcome,Winning_total,Losing_total
Game 232,177,187,0,25,182,182,Tie game,NaN,NaN
Game 476,179,185,1,22,182,182,Tie game,NaN,NaN
Game 871,188,176,0,25,182,182,Tie game,NaN,NaN
Game 928,171,193,1,32,182,182,Tie game,NaN,NaN

In [14]:
#summarize the frequency of the three outcomes
print('There are '+ str(len(ThousandGames[ThousandGames['Outcome'] == 'Player 1 wins']))+'('+str(len(ThousandGames[ThousandGames['Outcome'] == 'Player 1 wins'])/1000*100)+'%)' + ' games that player 1 won.')
print('There are '+ str(len(ThousandGames[ThousandGames['Outcome'] == 'Player 2 wins'])) + '('+str(len(ThousandGames[ThousandGames['Outcome'] == 'Player 2 wins'])/1000*100)+'%)' +' games that player 2 won.')
print('There are '+ str(len(ThousandGames[ThousandGames['Outcome'] == 'Tie game'])) + '('+str(len(ThousandGames[ThousandGames['Outcome'] == 'Tie game'])/1000*100)+'%)' + ' tie games.')

There are 506(50.6%) games that player 1 won.
There are 490(49.0%) games that player 2 won.
There are 4(0.4%) tie games.

In [15]:
#Produce descriptive statistics
ThousandGames['Winning_total'].describe()

count    996.000000
mean     226.622490
std       32.619414
min      183.000000
25%      201.000000
50%      219.000000
75%      246.250000
max      345.000000
Name: Winning_total, dtype: float64

In [16]:
#display the rows in your DataFrame that contain the top 10 winning totals
sortedByWinningTotal = ThousandGames.sort_values(by='Winning_total',ascending=False)
sortedByWinningTotal.head(10)

,Player 1 Initial,Player 2 Initial,# of tie,Maximum total in the round,Player 1 Final,Player 2 Final,Outcome,Winning_total,Losing_total
Game 429,207,157,1,29,345,19,Player 1 wins,345.0,19.0
Game 307,210,154,1,35,344,20,Player 1 wins,344.0,20.0
Game 464,215,149,0,21,343,21,Player 1 wins,343.0,21.0
Game 854,158,206,0,24,25,339,Player 2 wins,339.0,25.0
Game 685,167,197,4,63,38,326,Player 2 wins,326.0,38.0
Game 630,213,151,0,24,325,39,Player 1 wins,325.0,39.0
Game 708,151,213,0,25,43,321,Player 2 wins,321.0,43.0
Game 191,203,161,0,23,318,46,Player 1 wins,318.0,46.0
Game 826,217,147,1,33,317,47,Player 1 wins,317.0,47.0
Game 316,210,154,1,33,317,47,Player 1 wins,317.0,47.0

In [17]:
# Calculate the mean maximum round total as a function of the number of ties
def maximumTotal(tie=0):
    return sum(ThousandGames[ThousandGames['# of tie']==tie]['Maximum total in the round'])/len(ThousandGames[ThousandGames['# of tie']==tie])

In [18]:
# The biggest possible round number is 13 rounds.
# Calculate the frequency of the number of ties within each game
tieList=[]
meanMaximumList=[]
for i in range(14):
    if len(ThousandGames[ThousandGames['# of tie']==i])!=0:
        tieList.append(i)
        meanMaximumList.append(maximumTotal(i))
        print('For tie number '+str(i)+': There were '+ str(len(ThousandGames[ThousandGames['# of tie']==i]))+' games. The mean maximum total is ' + str(maximumTotal(i)))

For tie number 0: There were 504 games. The mean maximum total is 24.025793650793652
For tie number 1: There were 365 games. The mean maximum total is 30.887671232876713
For tie number 2: There were 109 games. The mean maximum total is 35.69724770642202
For tie number 3: There were 20 games. The mean maximum total is 44.8
For tie number 4: There were 2 games. The mean maximum total is 54.0

In [19]:
tieCorr=np.corrcoef(tieList, meanMaximumList)[0, 1]
tieCorr
print('The number of ties has a positive relation with mean maximum total')

The number of ties has a positive relation with mean maximum total